<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <ng-content select="[thumbnail]"></ng-content>
            <div class="caption">
                <h3>Child Two</h3>
                <ng-content select="[content]"></ng-content>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
</div>
