<div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Interpolation</a>
        </li>
        <li role="presentation">
            <a href="#tab" aria-controls="tab" role="tab" data-toggle="tab">One Way Binding</a>
        </li>
        <li role="presentation">
            <a href="#two" aria-controls="tab" role="tab" data-toggle="tab">Two Way Binding</a>
        </li>
        <li role="presentation">
            <a href="#col" aria-controls="tab" role="tab" data-toggle="tab">總結</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <h1>
                Interpolation 直接在 HTML 中插入變數
            </h1>
            <pre><code>&lt;a class=&quot;navbar-brand&quot;&gt;{{title}<!--/-->}&lt;/a&gt;</code></pre>
        </div>

        <!-- One way binding-->
        <div role="tabpanel" class="tab-pane" id="tab">
            <h1>One Way Binding</h1>
            <p>可以綁定任何html的屬性、class、style,甚至是event</p>

            <p>1. 屬性綁定</p>
            <button type="button" class="btn btn-primary" [disabled]="!isValid">Submit</button>
            <button type="button" class="btn btn-success" (click)="enable()">set enable/disable</button>

            <pre style="margin-top:5px"><code>&lt;button [disabled]=&quot;!isValid&quot;&gt;Submit&lt;/button&gt;</code></pre>

            <p>2. Class綁定</p>
            <span [class.bold]="isBold">如果isBold = ture,套用bold class</span><br>
            <button type="button" class="btn btn-success" (click)="enableClass()">set isBold</button>

            <pre style="margin-top:5px"><code>&lt;span [class.bold]=&quot;isBold&quot;&gt;如果isBold = ture,套用bold class&lt;/span&gt;</code></pre>

            <p>3. style綁定</p>
            <span [style.color]="isSpecial ? 'red': 'green'">isSpecial = ture,字顏色為red, 否則為green</span><br>
            <button type="button" class="btn btn-success" (click)="enableSpecial()">set isSpecial</button>

            <pre style="margin-top:5px"><code>&lt;span [style.color] = &quot;isSpecial ? 'red': 'green'&quot;&gt;isSpecial = ture,字顏色為red, 否則為green&lt;/span&gt;</code></pre>

            <p>4. event綁定</p>
            <pre style="margin-top:5px"><code>&lt;button type=&quot;button&quot; class=&quot;btn btn-success&quot; (click)=&quot;enableSpecial()&quot;&gt;set isSpecial&lt;/button&gt;</code></pre>
        </div>
        <!-- Two way binding-->
        <div role="tabpanel" class="tab-pane" id="two">
            <h1>Two Way Binding</h1>
            <form>
                <legend>Example</legend>
                <div class="form-group">
                    <label for="">Account</label>
                    <input type="text" class="form-control" [(ngModel)]="account" name="account">
                </div>
                <div class="form-group">
                    <label for="">Infomation: </label>
                    <span>{{account}}</span>
                </div>
            </form>
            <button type="button" class="btn btn-success" (click)="reset()">Reset to default</button>
            <pre style="margin-top:5px"><code>&lt;input name=&quot;account&quot; type=&quot;text&quot; class=&quot;form-control&quot; [(ngModel)]=&quot;account&quot;&gt;</code></pre>
        </div>

        <div role="tabpanel" class="tab-pane" id="col">
            <br>
            <ul>
                <li>在屬性繫結中，一個值從 Model 中傳到螢幕上的目標屬性。我們把名稱放在中括號 [ ] 裡面來標記出目標屬性 。這是一個 從 Model 到 View 的單向資料繫結。</li>
                <li>在事件繫結中，從螢幕上的目標屬性把值傳到 Model 裡。我們透過小括號 ( ) 把名稱包起來標記出目標屬性。這是一個 從 View 到 Model 的反向單向資料繫結 。</li>
                <li>組合符號 [( )] 來標記出雙向資料繫結和雙向資料流。</li>
            </ul>
        </div>
    </div>
</div>
