<p>
  parent works!
</p>

<app-child>
    <p>Content from ParentComponent for Child</p>
</app-child>

<app-child-two>
    <img src="http://kurr.mordorthemes.com/light/img/portfolio/4_big.jpg" alt="..." thumbnail>
    <p content>Content from ParentComponent for Child two</p>
</app-child-two>
