<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" [routerLink]="['/home']">{{title}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a [routerLink]="['/home']">數據綁定</a></li>
                <li routerLinkActive="active" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Guard <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Normal</li>
                        <li routerLinkActive="active"><a [routerLink]="['/normal']">Enter</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Admin</li>
                        <li routerLinkActive="active"><a [routerLink]="['/admin']">Enter</a></li>
                    </ul>
                </li>
                <li routerLinkActive="active"><a [routerLink]="['/content']">ng-content</a></li>
                <li routerLinkActive="active"><a [routerLink]="['/ibeez']">iBeez example</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<div class="container" style="margin-top:80px">
    <router-outlet></router-outlet>
</div>
