<h1>You don't have permission</h1>
<p>這裡是<b>RefuseComponent</b>，沒有權限的人都會被導到這個地方</p>
<p>Your role is: <b>{{role}}</b></p>
<br>

<button *ngIf="permission < 2" type="button" class="btn btn-info" (click)="setNormal()">Get normal permission</button>
<button *ngIf="permission < 3"type="button" class="btn btn-info" (click)="setAdmin()">Get admin permission</button>
