<div *ngIf="!isLogin else pobox" class="row">
    <div class="col-md-5 col-md-offset-3">
        <form [formGroup]="loginForm" (ngSubmit)="loginApi()">
            <div class="form-group">
                <label for="">Account</label>
                <input type="text" class="form-control" formControlName="account">
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input type="password" class="form-control" formControlName="password">
            </div>
            <div class="form-actions">
                <button type="submit" class="btn green pull-right" [disabled]="!loginForm.valid">Login</button>
            </div>
        </form>
        <p>{{message}}</p>
    </div>
</div>
<ng-template #pobox>
    <div class="row">
        <div class="col-md-5 col-md-offset-3">
            <form>
                <div class="form-group">
                    <label for="">發訊息給:</label>
                    <select class="form-control" name="group">
                        <option value="" selected>所有人</option>
                        <option *ngFor="let group of groups" value="{{group.id}}">
                            {{group.name}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">訊息內容</label>
                    <textarea class="form-control" [formControl]="term" #myTextArea (click)="getCaretPos(myTextArea)" (keyup)="getCaretPos(myTextArea)"></textarea>
                    <div class="list-group" *ngIf="tagList.length > 0">
                        <button *ngFor="let tag of tagList" class="list-group-item list-group-item-action" (click)=tagClick(tag.name)>
                            {{tag.name}}
                        </button>
                    </div>
                    <div class="list-group" *ngIf="userList.length > 0">
                        <ng-template ngFor let-user [ngForOf]="userList">
                            <button *ngIf="user.name" class="list-group-item list-group-item-action" (click)=userClick(user.account)>
                                {{user.name}}
                            </button>
                        </ng-template>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>
